@font-face {
  font-family: covik;
  src: url(/public/covik_bold.ttf);
}
* {
  font-family: "covik";
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0E8E0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}