:root{
    --hamburgerButtonHeight: 49px
}

.headerNav {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 0;
}

.headerUl {
  display: block;
  position: absolute;
  background-color: white;
  text-align: center;
  margin: 0;
  padding: var(--hamburgerButtonHeight) 0 0 0;
  width: 100%;
  left: 0%;
  top: 0;
  height: calc(100vh - var(--hamburgerButtonHeight));
  opacity: 1;
  transition: left 0.3s ease-out, opacity 0.3s ease-out;
}

.headerUl.closed {
  left: -100%;
  opacity: 0;
}

.headerLi {
  list-style: none;
  display: block;
  padding: 35px 10px;
  font-size: larger;
}

.headerLi a {
  all: unset;
}

.headerLi a:hover {
  cursor: pointer;
  text-decoration: underline;
}
